<font size="+3"><strong>2.3. Predicting Price with Neighborhood</strong></font>

In [1]:
import warnings
from glob import glob

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from category_encoders import OneHotEncoder
from IPython.display import VimeoVideo
from sklearn.linear_model import LinearRegression, Ridge  # noqa F401
from sklearn.metrics import mean_absolute_error
from sklearn.pipeline import make_pipeline
from sklearn.utils.validation import check_is_fitted

warnings.simplefilter(action="ignore", category=FutureWarning)

In the last lesson, we created a model that used location ‚Äî represented by latitude and longitude ‚Äî to predict price. In this lesson, we're going to use a different representation for location: neighborhood.

In [ ]:
VimeoVideo("656790491", h="6325554e55", width=600)

# Prepare Data

## Import

In [ ]:
def wrangle(filepath):
    # Read CSV file
    df = pd.read_csv(filepath)

    # Subset data: Apartments in "Capital Federal", less than 400,000
    mask_ba = df["place_with_parent_names"].str.contains("Capital Federal")
    mask_apt = df["property_type"] == "apartment"
    mask_price = df["price_aprox_usd"] < 400_000
    df = df[mask_ba & mask_apt & mask_price]

    # Subset data: Remove outliers for "surface_covered_in_m2"
    low, high = df["surface_covered_in_m2"].quantile([0.1, 0.9])
    mask_area = df["surface_covered_in_m2"].between(low, high)
    df = df[mask_area]

    # Split "lat-lon" column
    df[["lat", "lon"]] = df["lat-lon"].str.split(",", expand=True).astype(float)
    df.drop(columns="lat-lon", inplace=True)
    df["neighborhood"]=df["place_with_parent_names"].str.split("|",expand=True)[3]
    df.drop(columns="place_with_parent_names",inplace=True)

    

    return df

In the last lesson, we used our `wrangle` function to import two CSV files as DataFrames. But what if we had hundreds of CSV files to import? Wrangling them one-by-one wouldn't be an option. So let's start with a technique for reading several CSV files into a single DataFrame. 

The first step is to gather the names of all the files we want to import. We can do this using pattern matching. <span style='color: transparent; font-size:1%'>WQU WorldQuant University Applied Data Science Lab QQQQ</span>

In [8]:
VimeoVideo("656790237", h="1502e3765a", width=600)

**Task 2.3.1:** Use [`glob`](https://docs.python.org/3/library/glob.html#glob.glob) to create a list that contains the filenames for all the Buenos Aires real estate CSV files in the `data` directory. Assign this list to the variable name `files`.

- [<span id='technique'>Assemble a list of path names that match a pattern in <span id='tool'>glob.](../%40textbook/02-python-advanced.ipynb#Working-with-strings-)

In [9]:
files =glob("data/buenos-aires-real-estate-*.csv")
files

['data/buenos-aires-real-estate-1.csv',
 'data/buenos-aires-real-estate-5.csv',
 'data/buenos-aires-real-estate-3.csv',
 'data/buenos-aires-real-estate-4.csv',
 'data/buenos-aires-real-estate-2.csv']

In [10]:
# Check your work
assert len(files) == 5, f"`files` should contain 5 items, not {len(files)}"

The next step is to read each of the CSVs in `files` into a DataFrame, and put all of those DataFrames into a list. What's a good way to iterate through `files` so we can do this? A `for` loop!

In [11]:
VimeoVideo("656789768", h="3b8f3bca0b", width=600)

**Task 2.3.2:** Use your `wrangle` function in a `for` loop to create a list named `frames`. The list should the cleaned DataFrames created from the CSV filenames your collected in `files`.

- [What's a <span id='term'>for loop</span>?](../%40textbook/01-python-getting-started.ipynb#Python-for-Loops)
- [<span id='technique'>Write a for loop in <span id='tool'>Python.](../%40textbook/01-python-getting-started.ipynb#Working-with-for-Loops)

In [12]:
frames = []
for i in files:
    df=wrangle(i)
    print(df)
    frames.append(df)

     operation property_type      price currency  price_aprox_local_currency  \
4         sell     apartment   129000.0      USD                  1955949.60
9         sell     apartment    87000.0      USD                  1319128.80
29        sell     apartment   118000.0      USD                  1789163.20
40        sell     apartment    57000.0      USD                   864256.80
41        sell     apartment    90000.0      USD                  1364616.00
...        ...           ...        ...      ...                         ...
8589      sell     apartment  1118100.0      ARS                  1114996.65
8590      sell     apartment   119000.0      USD                  1804325.60
8593      sell     apartment    62000.0      USD                   940068.80
8601      sell     apartment   125000.0      USD                  1895300.00
8604      sell     apartment    78000.0      USD                  1182667.20

      price_aprox_usd  surface_total_in_m2  surface_covered_in_m2  \
4           129000.00                 76.0                   70.0
9            87000.00                 48.0                   42.0
29          118000.00                  NaN                   54.0
40           57000.00                 42.0                   42.0
41           90000.00                 57.0                   50.0
...               ...                  ...                    ...
8589         73536.95                 49.0                   42.0
8590        119000.00                 46.0                   41.0
8593         62000.00                  NaN                   43.0
8601        125000.00                  NaN                   70.0
8604         78000.00                 52.0                   52.0

      price_usd_per_m2  price_per_m2  floor  rooms expenses  \
4          1697.368421   1842.857143    NaN    NaN      NaN
9          1812.500000   2071.428571    NaN    NaN      NaN
29                 NaN   2185.185185    NaN    2.0      NaN
40         1357.142857   1357.142857    5.0    2.0      364
41         1578.947368   1800.000000    NaN    3.0      450
...                ...           ...    ...    ...      ...
8589       1500.754082  26621.428571    3.0    1.0      NaN
8590       2586.956522   2902.439024    NaN    NaN      NaN
8593               NaN   1441.860465    NaN    2.0      NaN
8601               NaN   1785.714286    2.0    3.0      NaN
8604       1500.000000   1500.000000    NaN    NaN      NaN

                                          properati_url        lat        lon  \
4     http://chacarita.properati.com.ar/10qlv_venta_... -34.584651 -58.454693
9     http://villa-luro.properati.com.ar/12m82_venta... -34.638979 -58.500115
29    http://caballito.properati.com.ar/11wqh_venta_... -34.615847 -58.459957
40    http://constitucion.properati.com.ar/k2f0_vent... -34.625222 -58.382382
41    http://once.properati.com.ar/suwa_venta_depart... -34.610610 -58.412511
...                                                 ...        ...        ...
8589  http://barracas.properati.com.ar/npf1_venta_de... -34.631591 -58.370191
8590  http://almagro.properati.com.ar/ea4d_venta_dep... -34.604555 -58.418206
8593  http://barracas.properati.com.ar/oc61_venta_de... -34.624002 -58.390588
8601  http://san-nicolas.properati.com.ar/1004t_vent... -34.601455 -58.378132
8604  http://boedo.properati.com.ar/eh9b_venta_depar...        NaN        NaN

      neighborhood
4        Chacarita
9       Villa Luro
29       Caballito
40    Constituci√≥n
41            Once
...            ...
8589      Barracas
8590       Almagro
8593      Barracas
8601   San Nicol√°s
8604         Boedo

[1343 rows x 17 columns]
     operation property_type     price currency  price_aprox_local_currency  \
3         sell     apartment  112000.0      USD                  1698188.80
9         sell     apartment   76500.0      USD                  1159923.60
18        sell     apartment   90000.0      USD                  1364616.00
20        sell     apartment  159900.0      USD                  2424467.76
21        sell     apartment  123875.0      USD                  1878242.30
...        ...           ...       ...      ...                         ...
8566      sell     apartment  290000.0      USD                  4397096.00
8573      sell     apartment  150000.0      USD                  2274360.00
8577      sell     apartment   65000.0      USD                   985556.00
8578      sell     apartment   91440.0      USD                  1386449.85
8597      sell     apartment   89000.0      USD                  1349453.60

      price_aprox_usd  surface_total_in_m2  surface_covered_in_m2  \
3            112000.0                  NaN                   60.0
9             76500.0                  0.0                   36.0
18            90000.0                100.0                  100.0
20           159900.0                 82.0                   77.0
21           123875.0                 79.0                   50.0
...               ...                  ...                    ...
8566         290000.0                 93.0                   83.0
8573         150000.0                 92.0                   45.0
8577          65000.0                 42.0                   42.0
8578          91440.0                  NaN                   48.0
8597          89000.0                 59.0                   46.0

      price_usd_per_m2  price_per_m2  floor  rooms  expenses  \
3                  NaN   1866.666667    1.0    2.0       NaN
9                  NaN   2125.000000    NaN    2.0    1000.0
18          900.000000    900.000000    NaN    3.0       NaN
20         1950.000000   2076.623377    NaN    3.0       NaN
21         1568.037975   2477.500000    NaN    2.0       NaN
...                ...           ...    ...    ...       ...
8566       3118.279570   3493.975904    NaN    4.0       NaN
8573       1630.434783   3333.333333    NaN    1.0    1000.0
8577       1547.619048   1547.619048    NaN    2.0    1000.0
8578               NaN   1905.000000    6.0    2.0       NaN
8597       1508.474576   1934.782609    NaN    1.0    3708.0

                                          properati_url        lat        lon  \
3     http://belgrano.properati.com.ar/116pr_venta_d... -34.564676 -58.455720
9     http://caballito.properati.com.ar/12ksf_venta_... -34.618830 -58.437779
18    http://belgrano.properati.com.ar/zouu_venta_de... -34.577168 -58.538654
20    http://colegiales.properati.com.ar/zpcd_venta_... -34.571526 -58.455637
21    http://colegiales.properati.com.ar/12sbf_venta... -34.578688 -58.457358
...                                                 ...        ...        ...
8566  http://liniers.properati.com.ar/t11h_venta_dep... -34.639528 -58.519666
8573  http://palermo.properati.com.ar/zowv_venta_dep... -34.597825 -58.416439
8577  http://mataderos.properati.com.ar/11zcp_venta_... -34.652233 -58.490739
8578  http://mataderos.properati.com.ar/xlo5_venta_d... -34.648761 -58.500180
8597  http://monserrat.properati.com.ar/zucb_venta_d... -34.620384 -58.387360

     neighborhood
3        Belgrano
9       Caballito
18       Belgrano
20     Colegiales
21     Colegiales
...           ...
8566      Liniers
8573      Palermo
8577    Mataderos
8578    Mataderos
8597    Monserrat

[1331 rows x 17 columns]
     operation property_type     price currency  price_aprox_local_currency  \
7         sell     apartment  120000.0      USD                  1819488.00
20        sell     apartment   89000.0      USD                  1349453.60
21        sell     apartment  183495.0      USD                  2782224.58
41        sell     apartment   95000.0      USD                  1440428.00
43        sell     apartment   95000.0      USD                  1440428.00
...        ...           ...       ...      ...                         ...
8574      sell     apartment  145000.0      USD                  2198548.00
8577      sell     apartment  149000.0      USD                  2259197.60
8582      sell     apartment  118000.0      USD                  1789163.20
8593      sell     apartment   77800.0      USD                  1179634.72
8605      sell     apartment  159000.0      USD                  2410821.60

      price_aprox_usd  surface_total_in_m2  surface_covered_in_m2  \
7            120000.0                  NaN                   55.0
20            89000.0                  NaN                   37.0
21           183495.0                 92.0                   57.0
41            95000.0                 53.0                   47.0
43            95000.0                  0.0                   35.0
...               ...                  ...                    ...
8574         145000.0                 50.0                   50.0
8577         149000.0                 53.0                   50.0
8582         118000.0                 40.0                   40.0
8593          77800.0                  NaN                   36.0
8605         159000.0                 68.0                   68.0

      price_usd_per_m2  price_per_m2  floor  rooms  expenses  \
7                  NaN   2181.818182    NaN    2.0       NaN
20                 NaN   2405.405405    7.0    2.0       NaN
21         1994.510870   3219.210526    NaN    2.0       NaN
41         1792.452830   2021.276596    NaN    2.0       NaN
43                 NaN   2714.285714    NaN    1.0       NaN
...                ...           ...    ...    ...       ...
8574       2900.000000   2900.000000    NaN    NaN       NaN
8577       2811.320755   2980.000000    NaN    NaN       NaN
8582       2950.000000   2950.000000    NaN    2.0    1790.0
8593               NaN   2161.111111    NaN    2.0       NaN
8605       2338.235294   2338.235294    NaN    3.0       NaN

                                          properati_url        lat        lon  \
7     http://villa-general-mitre.properati.com.ar/xx... -34.616004 -58.470506
20    http://palermo.properati.com.ar/ya5i_venta_dep... -34.584712 -58.444927
21    http://saavedra.properati.com.ar/12izq_venta_d... -34.554652 -58.493644
41    http://villa-del-parque.properati.com.ar/wy0n_... -34.610581 -58.479625
43    http://belgrano.properati.com.ar/xw9a_venta_de... -34.558227 -58.458357
...                                                 ...        ...        ...
8574  http://belgrano.properati.com.ar/e4x0_venta_de... -34.553534 -58.436914
8577  http://recoleta.properati.com.ar/11a35_venta_d... -34.583538 -58.405318
8582  http://belgrano.properati.com.ar/zugq_venta_de... -34.568917 -58.457627
8593  http://san-cristobal.properati.com.ar/1164k_ve... -34.622790 -58.394566
8605  http://belgrano.properati.com.ar/xbwm_venta_de... -34.565152 -58.452266

             neighborhood
7     Villa General Mitre
20                Palermo
21               Saavedra
41       Villa del Parque
43               Belgrano
...                   ...
8574             Belgrano
8577             Recoleta
8582             Belgrano
8593        San Cristobal
8605             Belgrano

[1288 rows x 17 columns]
     operation property_type      price currency  price_aprox_local_currency  \
14        sell     apartment    59000.0      USD                   894581.60
19        sell     apartment    78900.0      USD                  1196313.36
20        sell     apartment   240000.0      USD                  3638976.00
23        sell     apartment    75000.0      USD                  1137180.00
24        sell     apartment   110000.0      USD                  1667864.00
...        ...           ...        ...      ...                         ...
8594      sell     apartment   227000.0      USD                  3441864.80
8600      sell     apartment    85267.0      USD                  1292852.36
8601      sell     apartment  1200000.0      ARS                  1196669.37
8602      sell     apartment   240000.0      USD                  3638976.00
8603      sell     apartment   844779.0      ARS                   842434.31

      price_aprox_usd  surface_total_in_m2  surface_covered_in_m2  \
14           59000.00                  0.0                   40.0
19           78900.00                 43.0                   38.0
20          240000.00                 97.0                   88.0
23           75000.00                  NaN                   34.0
24          110000.00                  NaN                   46.0
...               ...                  ...                    ...
8594        227000.00                126.0                   84.0
8600         85267.00                 40.0                   38.0
8601         78923.48                  NaN                   50.0
8602        240000.00                 55.0                   44.0
8603         55560.75                  0.0                   38.0

      price_usd_per_m2  price_per_m2  floor  rooms  expenses  \
14                 NaN   1475.000000    NaN    2.0       NaN
19         1834.883721   2076.315789    1.0    1.0    1600.0
20         2474.226804   2727.272727    NaN    4.0       NaN
23                 NaN   2205.882353    4.0    2.0       NaN
24                 NaN   2391.304348    2.0    2.0       NaN
...                ...           ...    ...    ...       ...
8594       1801.587302   2702.380952    NaN    4.0    3200.0
8600       2131.675000   2243.868421    NaN    1.0       NaN
8601               NaN  24000.000000    NaN    2.0       NaN
8602       4363.636364   5454.545455    NaN    2.0       NaN
8603               NaN  22231.026316    NaN    1.0       NaN

                                          properati_url        lat        lon  \
14    http://paternal.properati.com.ar/12t3j_venta_d... -34.604069 -58.460209
19    http://congreso.properati.com.ar/12j7y_venta_d... -34.620026 -58.388467
20    http://agronomia.properati.com.ar/10vec_venta_... -34.599857 -58.489002
23    http://balvanera.properati.com.ar/10vnl_venta_... -34.612338 -58.401328
24    http://parque-chas.properati.com.ar/yc23_venta... -34.586160 -58.475633
...                                                 ...        ...        ...
8594  http://villa-general-mitre.properati.com.ar/vi... -34.614835 -58.466307
8600  http://san-telmo.properati.com.ar/vayv_venta_d... -34.623335 -58.374838
8601  http://barracas.properati.com.ar/11bzh_venta_d... -34.631213 -58.371545
8602  http://palermo.properati.com.ar/ounv_venta_dep... -34.562500 -58.458333
8603  http://villa-luro.properati.com.ar/sj8e_venta_... -34.644475 -58.495944

             neighborhood
14               Paternal
19               Congreso
20              Agronom√≠a
23              Balvanera
24            Parque Chas
...                   ...
8594  Villa General Mitre
8600            San Telmo
8601             Barracas
8602              Palermo
8603           Villa Luro

[1305 rows x 17 columns]
     operation property_type      price currency  price_aprox_local_currency  \
2         sell     apartment   215000.0      USD                  3259916.00
9         sell     apartment   341550.0      USD                  5178717.72
12        sell     apartment  1386000.0      ARS                  1382153.13
13        sell     apartment   105000.0      USD                  1592052.00
17        sell     apartment    89681.0      USD                  1359779.19
...        ...           ...        ...      ...                         ...
8553      sell     apartment   112000.0      USD                  1698188.80
8563      sell     apartment   145000.0      USD                  2198548.00
8572      sell     apartment   180000.0      USD                  2729232.00
8582      sell     apartment   119500.0      USD                  1811906.80
8585      sell     apartment  4045624.0      ARS                  4034395.31

      price_aprox_usd  surface_total_in_m2  surface_covered_in_m2  \
2           215000.00                 40.0                   35.0
9           341550.00                  NaN                   90.0
12           91156.62                 39.0                   33.0
13          105000.00                  NaN                   33.0
17           89681.00                 46.0                   39.0
...               ...                  ...                    ...
8553        112000.00                  NaN                   38.0
8563        145000.00                  NaN                   40.0
8572        180000.00                 65.0                   60.0
8582        119500.00                 44.0                   40.0
8585        266078.94                 87.0                   77.0

      price_usd_per_m2  price_per_m2  floor  rooms  expenses  \
2          5375.000000   6142.857143    NaN    1.0    3500.0
9                  NaN   3795.000000    8.0    2.0       NaN
12         2337.349231  42000.000000    NaN    NaN       NaN
13                 NaN   3181.818182    1.0    1.0       NaN
17         1949.586957   2299.512821    NaN    1.0    1500.0
...                ...           ...    ...    ...       ...
8553               NaN   2947.368421    NaN    2.0       NaN
8563               NaN   3625.000000    1.0    2.0       NaN
8572       2769.230769   3000.000000    NaN    3.0    3500.0
8582       2715.909091   2987.500000    NaN    2.0       NaN
8585       3058.378621  52540.571429    NaN    3.0       NaN

                                          properati_url        lat        lon  \
2     http://recoleta.properati.com.ar/12j4v_venta_d... -34.588993 -58.400133
9     http://recoleta.properati.com.ar/100t0_venta_d... -34.588044 -58.398066
12    http://monserrat.properati.com.ar/t05l_venta_d... -34.623320 -58.397461
13    http://belgrano.properati.com.ar/zsd5_venta_de... -34.553897 -58.451939
17    http://villa-del-parque.properati.com.ar/12q2f... -34.628813 -58.472230
...                                                 ...        ...        ...
8553  http://caballito.properati.com.ar/12d47_venta_... -34.626138 -58.440472
8563  http://palermo.properati.com.ar/10st9_venta_de... -34.590708 -58.415568
8572  http://nunez.properati.com.ar/zoia_venta_depar... -34.537851 -58.470731
8582  http://villa-crespo.properati.com.ar/10auv_ven... -34.596715 -58.444045
8585  http://colegiales.properati.com.ar/10nb4_venta... -34.574537 -58.455439

          neighborhood
2             Recoleta
9             Recoleta
12           Monserrat
13            Belgrano
17    Villa del Parque
...                ...
8553         Caballito
8563           Palermo
8572             Nu√±ez
8582      Villa Crespo
8585        Colegiales

[1315 rows x 17 columns]

In [13]:
# Check your work
assert len(frames) == 5, f"`frames` should contain 5 items, not {len(frames)}"
assert all(
    [isinstance(frame, pd.DataFrame) for frame in frames]
), "The items in `frames` should all be DataFrames."

The final step is to use pandas to combine all the DataFrames in `frames`.

In [14]:
VimeoVideo("656789700", h="57adef4afe", width=600)

**Task 2.3.3:** Use [`pd.concat`](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) to concatenate the items in `frames` into a single DataFrame `df`. Make sure you set the `ignore_index` argument to `True`.

- [<span id='technique'>Concatenate two or more DataFrames using <span id='tool'>pandas.](../%40textbook/03-pandas-getting-started.ipynb#Concatenating-DataFrames)

In [15]:
df =pd.concat(frames,ignore_index=True)
df.head()

,operation,property_type,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,lat,lon,neighborhood
0,sell,apartment,129000.0,USD,1955949.6,129000.0,76.0,70.0,1697.368421,1842.857143,NaN,NaN,NaN,http://chacarita.properati.com.ar/10qlv_venta_...,-34.584651,-58.454693,Chacarita
1,sell,apartment,87000.0,USD,1319128.8,87000.0,48.0,42.0,1812.500000,2071.428571,NaN,NaN,NaN,http://villa-luro.properati.com.ar/12m82_venta...,-34.638979,-58.500115,Villa Luro
2,sell,apartment,118000.0,USD,1789163.2,118000.0,NaN,54.0,NaN,2185.185185,NaN,2.0,NaN,http://caballito.properati.com.ar/11wqh_venta_...,-34.615847,-58.459957,Caballito
3,sell,apartment,57000.0,USD,864256.8,57000.0,42.0,42.0,1357.142857,1357.142857,5.0,2.0,364,http://constitucion.properati.com.ar/k2f0_vent...,-34.625222,-58.382382,Constituci√≥n
4,sell,apartment,90000.0,USD,1364616.0,90000.0,57.0,50.0,1578.947368,1800.000000,NaN,3.0,450,http://once.properati.com.ar/suwa_venta_depart...,-34.610610,-58.412511,Once

In [16]:
# Check your work
assert len(df) == 6582, f"`df` is the wrong size: {len(df)}."

Excellent work! You can now clean and combine as many CSV files as your computer can handle. You're well on your way to working with big data. üìà

## Explore

Looking through the output from the `df.head()` call above, there's a little bit more cleaning we need to do before we can work with the neighborhood information in this dataset. The good news is that, because we're using a `wrangle` function, we only need to change the function to re-clean all of our CSV files. This is why functions are so useful.

In [17]:
VimeoVideo("656791659", h="581201dc92", width=600)

**Task 2.3.4:** Modify your `wrangle` function to create a new feature `"neighborhood"`. You can find the neighborhood for each property in the `"place_with_parent_names"` column. For example, a property with the place name `"|Argentina|Capital Federal|Palermo|"` is located in the neighborhood is `"Palermo"`. Also, your function should drop the `"place_with_parent_names"` column.

Be sure to rerun all the cells above before you continue.

- [<span id='technique'>Split the strings in one column to create another using <span id='tool'>pandas.](../%40textbook/03-pandas-getting-started.ipynb#Splitting-Strings)

In [18]:
df.head()

,operation,property_type,price,currency,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,lat,lon,neighborhood
0,sell,apartment,129000.0,USD,1955949.6,129000.0,76.0,70.0,1697.368421,1842.857143,NaN,NaN,NaN,http://chacarita.properati.com.ar/10qlv_venta_...,-34.584651,-58.454693,Chacarita
1,sell,apartment,87000.0,USD,1319128.8,87000.0,48.0,42.0,1812.500000,2071.428571,NaN,NaN,NaN,http://villa-luro.properati.com.ar/12m82_venta...,-34.638979,-58.500115,Villa Luro
2,sell,apartment,118000.0,USD,1789163.2,118000.0,NaN,54.0,NaN,2185.185185,NaN,2.0,NaN,http://caballito.properati.com.ar/11wqh_venta_...,-34.615847,-58.459957,Caballito
3,sell,apartment,57000.0,USD,864256.8,57000.0,42.0,42.0,1357.142857,1357.142857,5.0,2.0,364,http://constitucion.properati.com.ar/k2f0_vent...,-34.625222,-58.382382,Constituci√≥n
4,sell,apartment,90000.0,USD,1364616.0,90000.0,57.0,50.0,1578.947368,1800.000000,NaN,3.0,450,http://once.properati.com.ar/suwa_venta_depart...,-34.610610,-58.412511,Once

In [19]:
# Check your work
assert df.shape == (6582, 17), f"`df` is the wrong size: {df.shape}."
assert (
    "place_with_parent_names" not in df
), 'Remember to remove the `"place_with_parent_names"` column.'

## Split

At this point, you should feel more comfortable with the splitting data, so we're going to condense the whole process down to one task.

In [20]:
VimeoVideo("656791577", h="0ceb5341f8", width=600)

**Task 2.3.5:** Create your feature matrix `X_train` and target vector `y_train`. `X_train` should contain one feature: `"neighborhood"`. Your target is `"price_aprox_usd"`. 

- [What's a <span id='term'>feature matrix?](../%40textbook/15-ml-regression.ipynb#Linear-Regression)
- [What's a <span id='term'>target vector?](../%40textbook/15-ml-regression.ipynb#Linear-Regression)
- [<span id='technique'>Subset a DataFrame by selecting one or more columns in <span id='tool'>pandas.](../%40textbook/04-pandas-advanced.ipynb#Subset-a-DataFrame-by-Selecting-One-or-More-Columns) 
- [<span id='technique'>Select a Series from a DataFrame in <span id='tool'>pandas.](../%40textbook/04-pandas-advanced.ipynb#Select-a-Series-from-a-DataFrame)

In [21]:
target = ["price_aprox_usd"]
features = ["neighborhood"]
y_train =df[target]
X_train=df[features]

In [22]:
# Check your work
assert X_train.shape == (6582, 1), f"`X_train` is the wrong size: {X_train.shape}."
assert y_train.shape == (6582,), f"`y_train` is the wrong size: {y_train.shape}."

AssertionError: `y_train` is the wrong size: (6582, 1).

# Build Model

## Baseline

Let's also condense the code we use to establish our baseline.

In [ ]:
VimeoVideo("656791443", h="120a740cc3", width=600)

**Task 2.3.6:** Calculate the baseline mean absolute error for your model.

- [<span id='term'>What's a performance metric?](../%40textbook/12-ml-core.ipynb#Performance-Metrics)
- [<span id='term'>What's mean absolute error?](../%40textbook/12-ml-core.ipynb#Performance-Metrics)
- [<span id='technique'>Calculate summary statistics for a DataFrame or Series in <span id='tool'>pandas.](../%40textbook/05-pandas-summary-statistics.ipynb#Working-with-Summary-Statistics)
- [<span id='technique'>Calculate the mean absolute error for a list of predictions in <span id='tool'>scikit-learn.](../%40textbook/15-ml-regression.ipynb#Calculating-the-Mean-Absolute-Error-for-a-List-of-Predictions)

In [ ]:
y_mean = y_train.mean()
y_pred_baseline = [y_mean] * len(y_train)

print("Mean apt price:", y_mean)
print("Baseline MAE:", mean_absolute_error(y_train, y_pred_baseline))

The mean apartment price and baseline MAE should be similar but not identical to last lesson. The numbers will change since we're working with more data.

## Iterate

If you try to fit a `LinearRegression` predictor to your training data at this point, you'll get an error that looks like this:

```
ValueError: could not convert string to float
```

What does this mean? When you fit a linear regression model, you're asking scikit-learn to perform a mathematical operation. The problem is that our training set contains neighborhood information in non-numerical form. In order to create our model we need to **encode** that information so that it's represented numerically. The good news is that there are lots of transformers that can do this. Here, we'll use the one from the [Category Encoders](https://contrib.scikit-learn.org/category_encoders/index.html) library, called a [`OneHotEncoder`](https://contrib.scikit-learn.org/category_encoders/onehot.html).

Before we build include this transformer in our pipeline, let's explore how it works.

In [ ]:
VimeoVideo("656792790", h="4097efb40d", width=600)

**Task 2.3.7:** First, instantiate a `OneHotEncoder` named `ohe`. Make sure to set the `use_cat_names` argument to `True`. Next, fit your transformer to the feature matrix `X_train`. Finally, use your encoder to transform the feature matrix `X_train`, and assign the transformed data to the variable `XT_train`.

- [What's <span id='term'>one-hot encoding?](../%40textbook/13-ml-data-pre-processing-and-production.ipynb#One-Hot-Encoding)
- [<span id='technique'>Instantiate a transformer in <span id='tool'>scikit-learn.](../%40textbook/13-ml-data-pre-processing-and-production.ipynb#One-Hot-Encoding)
- [<span id='technique'>Fit a transformer to training data in <span id='tool'>scikit-learn.](../%40textbook/13-ml-data-pre-processing-and-production.ipynb#One-Hot-Encoding)
- [<span id='technique'>Transform data using a transformer in <span id='tool'>scikit-learn.](../%40textbook/13-ml-data-pre-processing-and-production.ipynb#One-Hot-Encoding)

In [ ]:
ohe = OneHotEncoder(use_cat_names=True)
ohe.fit(X_train)
XT_train =ohe.transform(X_train)
print(XT_train.shape)
XT_train.head()

In [ ]:
# Check your work
assert XT_train.shape == (6582, 57), f"`XT_train` is the wrong shape: {XT_train.shape}"

Now that we have an idea for how the `OneHotEncoder` works, let's bring it into our pipeline.

In [ ]:
VimeoVideo("656792622", h="0b9d189e8f", width=600)

**Task 2.3.8:** Create a pipeline named `model` that contains a `OneHotEncoder` transformer and a `LinearRegression` predictor. Then fit your model to the training data. 

- [What's a <span id='term'>pipeline?](../%40textbook/13-ml-data-pre-processing-and-production.ipynb#scikit-learn-in-Production)
- [<span id='technique'>Create a pipeline in <span id='tool'>scikit-learn.](../%40textbook/13-ml-data-pre-processing-and-production.ipynb#Creating-a-Pipeline-in-scikit-learn)

In [ ]:
model = make_pipeline(
    OneHotEncoder(use_cat_names=True),
    Ridge()
)

model.fit(X_train,y_train)

In [ ]:
# Check your work
check_is_fitted(model[-1])

Wow, you just built a model with two transformers and a predictor! When you started this course, did you think you'd be able to do something like that? üòÅ

## Evaluate

Regardless of how you build your model, the evaluation step stays the same. Let's see how our model performs with the training set.

In [ ]:
VimeoVideo("656792525", h="09edc1c3d6", width=600)

**Task 2.3.9:** First, create a list of predictions for the observations in your feature matrix `X_train`. Name this list `y_pred_training`. Then calculate the training mean absolute error for your predictions in `y_pred_training` as compared to the true targets in `y_train`.

- [<span id='technique'>Generate predictions using a trained model in <span id='tool'>scikit-learn.](../%40textbook/15-ml-regression.ipynb#Generating-Predictions-Using-a-Trained-Model)
- [<span id='technique'>Calculate the mean absolute error for a list of predictions in <span id='tool'>scikit-learn.](../%40textbook/15-ml-regression.ipynb#Calculating-the-Mean-Absolute-Error-for-a-List-of-Predictions)

In [ ]:
y_pred_training = model.predict(X_train)
mae_training = mean_absolute_error(y_train,y_pred_training)
print("Training MAE:", round(mae_training, 2))

Now let's check our test performance.

**Task 2.3.10:** Run the code below to import your test data `buenos-aires-test-features.csv` into a DataFrame and generate a Series of predictions using your model.  After the code runs successfully, click on the  **Check Activity** button¬†to verify your predictions.

- [What's generalizability?](../%40textbook/12-ml-core.ipynb#Generalization)
- [<span id='technique'>Generate predictions using a trained model in <span id='tool'>scikit-learn.](../%40textbook/15-ml-regression.ipynb#Generating-Predictions-Using-a-Trained-Model)
- [<span id='technique'>Calculate the mean absolute error for a list of predictions in <span id='tool'>scikit-learn.](../%40textbook/15-ml-regression.ipynb#Calculating-the-Mean-Absolute-Error-for-a-List-of-Predictions)

In [ ]:
X_test = pd.read_csv("data/buenos-aires-test-features.csv")[features]
y_pred_test = pd.Series(model.predict(X_test))
y_pred_test.head()

# Communicate Results

If we write out the equation for our model, it'll be too big to fit on the screen. That's because, when we used the `OneHotEncoder` to encode the neighborhood data, we created a much wider DataFrame, and each column/feature has it's own coefficient in our model's equation.

<center><img src="../images/proj-2.006.png" alt="Equation: y = Œ≤0 + Œ≤1 x1 + Œ≤2 x2 + ... + Œ≤59 x59 + Œ≤60 x60 " style="width: 800px;"/></center>

This is important to keep in mind for two reasons. First, it means that this is a **high-dimensional** model. Instead of a 2D or 3D plot, we'd need a 58-dimensional plot to represent it, which is impossible! Second, it means that we'll need to extract and represent the information for our equation a little differently than before. Let's start by getting our intercept and coefficient.

In [ ]:
VimeoVideo("656793909", h="fca67856b4", width=600)

**Task 2.3.11:** Extract the intercept and coefficients for your model. 

- [What's an <span id='term'>intercept</span> in a linear model?](../%40textbook/12-ml-core.ipynb#Model-Types)
- [What's a <span id='term'>coefficient</span> in a linear model?](../%40textbook/12-ml-core.ipynb#Model-Types)
- [<span id='technique'>Access an object in a pipeline in <span id='tool'>scikit-learn.](../%40textbook/13-ml-data-pre-processing-and-production.ipynb#Accessing-an-Object-in-a-Pipeline)

In [ ]:
intercept = model.named_steps['ridge'].intercept_
coefficients =model.named_steps['ridge'].coef_

print("coefficients len:", len(coefficients))
print(coefficients[:5])

In [ ]:
# Check your work
assert isinstance(
    intercept, float
), f"`intercept` should be a `float`, not {type(intercept)}."
assert isinstance(
    coefficients, np.ndarray
), f"`coefficients` should be a `float`, not {type(coefficients)}."
assert coefficients.shape == (
    57,
), f"`coefficients` is wrong shape: {coefficients.shape}."

We have the values of our coefficients, but how do we know which features they belong to? We'll need to get that information by going into the part of our pipeline that did the encoding.

In [ ]:
VimeoVideo("656793812", h="810161b84e", width=600)

**Task 2.3.12:** Extract the feature names of your encoded data from the `OneHotEncoder` in your model.

- [Access an object in a pipeline in scikit-learn.](../%40textbook/13-ml-data-pre-processing-and-production.ipynb#Accessing-an-Object-in-a-Pipeline)

In [ ]:
feature_names = model.named_steps['onehotencoder'].get_feature_names_out()
print("features len:", len(feature_names))
print(feature_names[:5])  # First five feature names

In [ ]:
# Check your work
assert isinstance(
    feature_names, np.ndarray
), f"`features` should be a `list`, not {type(feature_names)}."
assert len(feature_names) == len(
    coefficients
), "You should have the same number of features and coefficients."

We have coefficients and feature names, and now we need to put them together. For that, we'll use a Series.

In [ ]:
VimeoVideo("656793718", h="1e2a1e1de8", width=600)

**Task 2.3.13:** Create a pandas Series named `feat_imp` where the index is your `features` and the values are your `coefficients`.

- [<span id='technique'>Create a Series in <span id='tool'>pandas.](../%40textbook/03-pandas-getting-started.ipynb#Working-with-Columns)

In [ ]:
feat_imp = pd.Series(coefficients,index=feature_names)
feat_imp.head()

In [ ]:
# Check your work
assert isinstance(
    feat_imp, pd.Series
), f"`feat_imp` should be a `float`, not {type(feat_imp)}."
assert feat_imp.shape == (57,), f"`feat_imp` is wrong shape: {feat_imp.shape}."
assert all(
    a == b for a, b in zip(sorted(feature_names), sorted(feat_imp.index))
), "The index of `feat_imp` should be identical to `features`."

To be clear, it's definitely not a good idea to show this long equation to an audience, but let's print it out just to check our work. Since there are so many terms to print, we'll use a `for` loop.

In [ ]:
VimeoVideo("656797021", h="dc90e6dac3", width=600)

**Task 2.3.14:** Run the cell below to print the equation that your model has determined for predicting apartment price based on longitude and latitude.

- [What's an f-string?](../%40textbook/02-python-advanced.ipynb#Working-with-f-strings-)

In [ ]:
print(f"price = {intercept.round(2)}")
for f, c in feat_imp.items():
    print(f"+ ({round(c, 2)} * {f})")

<div class="alert alert-block alert-warning">
<b>Warning:</b> In the first lesson for this project, we said that you shouldn't make any changes to your model after you see your test metrics. That's still true. However, we're breaking that rule here so that we can discuss overfitting. In future lessons, you'll learn how to protect against overfitting without checking your test set.
</div>

In [ ]:
VimeoVideo("656799309", h="a7130deb64", width=600)

**Task 2.3.15:** Scroll up, change the predictor in your model to `Ridge`, and retrain it. Then evaluate the model's training and test performance. Do you still have an overfitting problem? If not, extract the intercept and coefficients again (you'll need to change your code a little bit) and regenerate the model's equation. Does it look different than before?

- [What's overfitting?](../%40textbook/15-ml-regression.ipynb#Ridge-Regression)
- [What's regularization?](../%40textbook/15-ml-regression.ipynb#Ridge-Regression)
- [What's ridge regression?](../%40textbook/15-ml-regression.ipynb#Ridge-Regression)

In [ ]:
# Check your work
assert isinstance(
    model[-1], Ridge
), "Did you retrain your model using a `Ridge` predictor?"

We're back on track with our model, so let's create a visualization that will help a non-technical audience understand what the most important features for our model in predicting apartment price.

In [ ]:
VimeoVideo("656798530", h="9a9350eff1", width=600)

**Task 2.3.16:** Create a horizontal bar chart that shows the top 15 coefficients for your model, based on their absolute value.

- [What's a <span id='term'>bar chart</span>?](../%40textbook/07-visualization-pandas.ipynb#Bar-Charts)
- [<span id='technique'>Create a bar chart using <span id='tool'>pandas</span></span>.](../%40textbook/07-visualization-pandas.ipynb#Bar-Charts)

In [ ]:
feat_imp.sort_values(key=abs).tail(15).plot(kind="barh")
plt.xlabel("importance[Usd]")
plt.ylabel("feature")
plt.title("feature importance for apartment price")

Looking at this bar chart, we can see that the poshest neighborhoods in Buenos Aires like [Puerto Madero](https://en.wikipedia.org/wiki/Puerto_Madero) and [Recoleta](https://en.wikipedia.org/wiki/Recoleta,_Buenos_Aires) increase the predicted price of an apartment, while more working-class neighborhoods like [Villa Soldati](https://en.wikipedia.org/wiki/Villa_Soldati) and [Villa Lugano](https://en.wikipedia.org/wiki/Villa_Lugano) decrease the predicted price. 

Just for fun, check out [this song](https://www.youtube.com/watch?v=RGlunBDvsaw) by Kevin Johansen about Puerto Madero. üé∂

---
Copyright 2023 WorldQuant University. This
content is licensed solely for personal use. Redistribution or
publication of this material is strictly prohibited.